<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/menu.css'}">
        <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="page">

            <ul id="navigation">
                #{if play.mvc.Http.Request.current().controller == "Home"}
                    <li class="one selected">
                #{/if}
                #{else}
                    <li class="one">
                #{/else}
                <a href="@{Home.index}">&{'menu.home'}</a></li>

                #{if play.mvc.Http.Request.current().controller == "Planning"}
                 <li class="two selected">
                #{/if}
                #{else}
                    <li class="two">
                #{/else}
                <a href="@{Planning.index}">&{'menu.planning'}</a></li>

                #{if play.mvc.Http.Request.current().controller == "Statistics"}
                <li class="three selected">
                #{/if}
                #{else}
                    <li class="three">
                #{/else}
                <a href="@{Statistics.index}">&{'menu.stats'}</a></li>

                #{if play.mvc.Http.Request.current().controller == "About"}
                <li class="four selected">
                #{/if}
                #{else}
                    <li class="four">
                #{/else}
                <a href="@{About.index}">&{'menu.about'}</a></li>

                #{if play.mvc.Http.Request.current().controller == "Debug"}
                    <li class="four selected">
                #{/if}
                #{else}
                    <li class="four">
                #{/else}
                <a href="@{Debug.index}">&{'menu.debug'}</a></li>
                    
<!--                <li class="shadow"></li>-->
            </ul>

            <div id="content" class="transition">

                #{doLayout /}

            </div>
            
            <div id="contextScript">
                #{get 'contextScript' /}
            </div>

            <div id="footer">
                <span class="strong">&{'footer.app'}</span> - &{'footer.app.more', new java.util.Date().format("yyyy")}</a><br/>
                &{'footer.html5'}<br/>
                <form action="http://validator.w3.org/check" method="post" target="_blank" id="validForm">
                    <input type="hidden" value="" id="validContent" name="fragment"/>
                    <a href="#" id="validLink">
                        <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics-storage.png" alt="Check HTML validity" title="Check HTML validity"/>
                    </a>
                </form>
                <script type="text/javascript">
                    $("#validLink").click(function(event){
                        event.preventDefault();
                        var contentHTML = '<!DOCTYPE html> <html>' + $('html').html() + '</html>';
                        $("#validContent").val(contentHTML);
                        $("#validForm").submit();
                    });
                </script>
            </div>
        </div>
        
    </body>
</html>
